/* PlaybackControls.css */
.playback-controls {
  background-color: #3c3c3c;
  padding: 10px;
  border-radius: 8px;
}

.playback-controls button {
  background: none;
  border: 1px solid white;
  color: white;
  font-size: 20px;
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.playback-controls button:hover {
  background-color: #444;
}
