/* MainEditingArea.css */
.main-editing-area {
    grid-column: span 2;
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video-preview {
    max-width: 100%;
    height: auto;
  }
  